.image{
 filter: blur(2px);   
}

.contenu {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
}

.my-container{
    margin : 0 auto;
    padding : 10px;
}

.bouton{
    padding: 4px 20px;
    font: 1.35em "brodway";
	line-height: 2em;
	text-align: center;
    text-decoration : none;
    color : #ff9966;
    background : none ;
    border : 2px solid #ff9966;
    width : 200px;
    height: 50px;
    position:relative;
    left:30%;
    transition-property: background-color, border, color;
    transition-duration: 800ms;
}

.bouton:hover{
    background-color : #ff9966;
    border : 2px solid #ff9966;
    color :white;
}





#bouton{
    padding: 4px 20px;
	font: 2em "brodway";
	line-height: 2em;
	text-align: center;
    text-decoration : none;
    border-radius : 40px;
    color : white;
    background : none ;
    border : 2px solid white;
    width : 250px; 
    position:relative;
    top:40%;
    left:40%;
    transition-property: background-color, border, color;
    transition-duration: 800ms;

}

#bouton:hover{
    background-color : white;
    border : 2px solid white;
    color :#ff3333;
}

#grad{
    position : fixed;
    width : 80px;
    height :60px;
    top : 5%; 
}

#menu{
    position : fixed;
    left : 90%;
    width : 80px;
    height :60px;
    top : 5%;
}

#magnifier{
    position : fixed;
    left : 95%;
    width : 80px;
    height : 60px;
    top : 5%;
}


h1{
    
    padding: 6% 39%;
    font: 2em "brodway";   
}

